@font-face {
  font-family: 'data/AgencyFB-Reg-20.vlw';
  src: url('data/AgencyFB-Reg-20.ttf');
}

@font-face {
  font-family: 'data/Algerian-30.vlw';
  src: url('data/Algerian-30.ttf');
}

@font-face {
  font-family: 'data/BerlinSansFBDemi-Bold-20.vlw';
  src: url('data/BerlinSansFBDemi-Bold-20.ttf');
}

body {
  margin: auto;
  text-align: center;
}

canvas:focus {
  outline: 0;
}
